footer {
    width: 100%;
    color: white;
    text-align: center;
    padding: 0;
    clear: both;
    font-size: small;
    bottom: 0;
    position: fixed;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.3) 80%, transparent);
}

#inventaireshow {
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;

    img {
        width: 150px;
    }
}

#inventairefooter {
    width: 100%;
    margin: auto;
    cursor: pointer;
}

#motsdepasse {
    width: 100%;
    margin: auto;
    cursor: pointer;
}

.footerhidden {
    display: none !important;
}

.footeraffichage {
    display: block;
    width: 100%;
  padding: 10px;
  max-height: 250px;
  overflow: auto;
  margin: auto;
}

.current input {
    background-color: orange;
}
