.mdp {
    font-weight: bold;
    text-shadow: grey 1px 1px;
}

.info {
    color: orange;
}

.lieu {
    color: lightgreen;
    font-weight: bold;
}

.important {
    color: darkred;
    font-weight: bold;
}

.indice {
    color: dodgerblue;
    text-align: center;
    font-weight: bold;
}

.reponse {
    color: red;
    text-align: center;
    font-weight: bold;
}
