.cle1 {
    position: absolute;
    bottom: 9.3%;
    left: 3.73%;
    width: 35.33% !important;
    height: 52.6%;
}

.cle2 {
    position: absolute;
    bottom: 1%;
    left: 40.87%;
    width: 20.4%!important;
    height: 61%;
}

.cle3 {
    position: absolute;
    top: 32.4%;
    right: 2.8%;
    width: 53.53%!important;
    height: 31.4%;
}

.cle4 {
    position: absolute;
    top: 2.5%;
    left: 2.87%;
    width: 34.33%!important;
    height: 37%;
}

.cle5 {
    position: absolute;
    top: 1.1%;
    left: 36.87%;
    width: 22.87%!important;
    height: 35.5%;
}
