input[type=range] {
    position: absolute;
    bottom: 27.75%;
    width: 40%;
    left: 5%;
    background-color: black;
    padding: 0;
    border: none;
    height: 1%;
}

#reservoir {
    position: absolute;
    top: 45%;
    right: 26.6%;
    width: 5%;
}

#boutonmachineoff {
    position: absolute;
    top: 41%;
    right: 4.5%;
    width: 5%;
}

#levier {
    position: absolute;
    width: 3.1%;
    height: 19.25%;
    bottom: 23.8%;
    left: 50.1%;

    button {
        width: 100%;
        height: 100%;
    }
}
