.dialogue {
  text-align: center;
  margin: auto;
  width: 80%;
}

.portrait {
  width: 20%;
  display: inline-block;
  vertical-align: top;

  img {
    width: 100%;
  }
}

.bulleperso {
  background: rgba(255, 255, 255, 0.8);
  display: inline-block;
  vertical-align: top;
  width: 60%;
  min-height: 70px;
  margin-left: 30px;
  position: relative;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  padding: 14px 30px;
  margin-top: 10px;
  margin-bottom: 10px;

  &::before {
    content: "";
    position: absolute;
    right: 100%;
    top: 50px;
    width: 0;
    height: 0;
    border-top: 13px solid transparent;
    border-right: 20px solid rgba(255, 255, 255, 0.8);
    border-bottom: 13px solid transparent;
  }

  p {
    text-align: justify;
    color: black;
  }
}

.bulleperso2 {
  background: rgba(255, 255, 255, 0.8);
  display: inline-block;
  vertical-align: top;
  width: 60%;
  min-height: 70px;
  margin-right: 30px;
  position: relative;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  padding: 14px 30px;
  margin-top: 10px;
  margin-bottom: 10px;

  &:after {
    content: "";
    position: absolute;
    left: 100%;
    top: 50px;
    width: 0;
    height: 0;
    border-top: 13px solid transparent;
    border-left: 20px solid rgba(255, 255, 255, 0.8);
    border-bottom: 13px solid transparent;
  }

  p {
    text-align: justify;
    color: black;
  }
}

.portrait2 {
  width: 20%;
  display: inline-block;
  vertical-align: top;

  img {
    width: 100%;
  }
}

.dialogueCommentaire {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 80%;
  margin: 20px auto;

  .portraitCommentaire {
    width: 100px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    border: 2px solid black;
    padding: 15px;

    .nomCommentaire {
      font-style: italic;
      width: 100%;
      text-align: center !important;
      text-shadow: 1px 1px 5px black;
    }
  }

  .bulleCommentaire {
    background: rgba(255, 255, 255, 0.8);
    width: 70%;
    margin-left: 30px;
    position: relative;
    border-radius: 10px;
    padding: 14px 30px;

    &::before {
      content: "";
      position: absolute;
      right: 100%;
      top: 25px;
      width: 0;
      height: 0;
      border-top: 13px solid transparent;
      border-right: 20px solid rgba(255, 255, 255, 0.8);
      border-bottom: 13px solid transparent;
    }

    p {
      text-align: justify;
      color: black;
    }
  }
}
