footer {
    width: 100%;
    color: white;
    text-align: center;
    padding: 0;
    clear: both;
    font-size: small;
    bottom: 0;
    position: fixed;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.3) 80%, transparent);
}

.footerhidden {
    display: none !important;
}

.footeraffichage {
    width: 80%;
    margin: auto;
    padding: 20px 0 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5px;

    img {
        width: 70px;
    }
}

.current input {
    background-color: orange;
}
