.boutonindice,
.boutonreponse {
    border: none;
    width: 30px;
    height: 30px;
    cursor: help;
    margin: 20px;
}

.boutonindice {
    background: url("/assets/img/indice.png");
}

.boutonreponse {
    background: url("/assets/img/reponse.png");
}
