.boutonindice,
.boutonreponse {
    width: 30px;
    height: 30px;
    cursor: help !important;
    margin: 20px;
}

.boutonindice {
    background: url("/assets/img/indice.png") !important;
}

.boutonreponse {
    background: url("/assets/img/reponse.png") !important;
}
