button.boutonindice,
button.boutonreponse {
    width: 30px;
    height: 30px;
    cursor: help;
    margin: 20px;
}

button.boutonindice {
    background: url("/assets/img/indice.png");
}

button.boutonreponse {
    background: url("/assets/img/reponse.png");
}
