html {
  scroll-behavior: smooth;
  margin: 0;
}

body {
  background: url("/escaperpg/images/fond.png") fixed;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  font-family: arial, "arial black", "comic sans ms", "courier new", "georgia",
    "impact", "times new roman", "trebuchet ms", "verdana", serif;
  overflow: auto;
  padding: 0;
  margin: 0;
}

nav {
  text-align: left;
  position: fixed;
  top: 200px;
  left: 0px;
  width: 170px;
}

header {
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 10px 0px;
}

.banner {
  width: 100%;
  height: 100vh;
}

#connexioncompte {
  position: fixed;
  top: 50px;
  right: 0;
  padding: 10px;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.2);
  border: 7px double black;
  border-right: none;
  border-radius: 20px 0px 0px 20px;
  text-align: center;
  font-size: x-small;

  &:hover {
    border: 7px double orange;
    border-right: none;
    border-radius: 20px 0px 0px 20px;
  }

  img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
}

#formconnexion {
  color: orange;
  text-align: center;
  min-width: 20%;
  max-width: 40%;
  padding: 20px;
  margin: auto;
  border: 7px double orange;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.2);
}

input[type="submit"].connecting {
  background-color: orange;
  border: 2px solid black;
  font-weight: bold;

  &:hover {
    background-color: darkorange;
  }
}

input[type="submit"],
input[type="text"],
input[type="password"],
input[type="email"] {
  width: 100%;
  max-width: 300px;
  margin: 5px;
  padding: 10px;
  background-color: white;
  border: 2px solid orange;
  border-radius: 10px;
  cursor: pointer;
  text-transform: uppercase;
}

input[type="submit"]:hover {
  border: 2px solid black;
  background-color: darkorange;
  color: black;
}

.portraitavatarcompte {
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
  margin: auto;

  img {
    width: 200px;
    height: 200px;
    object-fit: cover;
  }
}

#succespopup {
  width: 150px;
  position: fixed;
  top: 180px;
  right: -230px;
  background-color: rgba(0, 0, 0, 0.2);
  border: 7px double black;
  color: orange;
  border-right: none;
  border-radius: 20px 0px 0px 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  z-index: 20;

  a {
    color: red;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      color: orange;
    }
  }
}

.succesapercu {
  color: orange;
  border-radius: 50%;
  width: 50px;
  height: 65px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;

  span {
    position: absolute;
    top: 40px;
    right: 0;
    background-color: black;
    color: orange;
    border-radius: 10px;
    opacity: 0;
    font-weight: normal;
    font-size: 12px;
    width: 200px;
    padding: 20px;
    text-align: justify;
    pointer-events: none;
    z-index: 3;
  }

  .succesplatine:before {
    width: 80px;
    height: 80px;
  }

  div {
    width: 50px;
    height: 65px;
    border-radius: 50%;

    &:after {
      left: 4px;
      top: 4px;
      width: calc(100% - 8px);
      height: calc(100% - 8px);
    }
  }

  img {
    width: 80%;
    height: 84.6%;
    border-radius: 50%;
    z-index: 2;
  }
}

#containerscenario,
#containeramis {
  display: flex;
  width: 90%;
  flex-wrap: wrap;
  margin: 25px auto;
  position: relative;
  padding: 10px;
  justify-content: center;
}

#containerscenario {
  &::before {
    content: "";
    position: absolute;
    left: 5%;
    top: 0;
    height: 1px;
    width: 90%;
    border-bottom: 1px solid orange;
  }

  &::after {
    content: "";
    position: absolute;
    left: 5%;
    bottom: 0;
    height: 1px;
    width: 90%;
    border-bottom: 1px solid orange;
  }
}

#containeramis {
  p {
    text-align: center;
    color: white;
    width: 100%;
  }

  img {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
    object-fit: cover;
    margin: 10px;
  }
}

#bannieresucces {
  width: 15%;
  display: flex;
  justify-content: center;
  flex-direction: column;

  img {
    width: 100%;
    outline: 1px solid orange;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
  }
}

#containersucces {
  display: flex;
  width: 85%;
  flex-wrap: wrap;
  align-items: center;
}

.succesbox {
  position: relative;
  width: 100px;
  height: 130px;
  border-radius: 50%;
  margin: 10px;
}

.succesobtenu {
  color: #606060;
  text-align: center;
  width: 100px;
  height: 130px;
  border-radius: 50%;
  font-weight: bold;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: auto;

  span {
    position: absolute;
    margin-top: 150px;
    background-color: black;
    color: orange;
    border-radius: 10px;
    opacity: 0;
    font-weight: normal;
    font-size: 12px;
    width: 200px;
    padding: 20px;
    text-align: justify;
    pointer-events: none;
    z-index: 2;
  }

  img {
    width: 80%;
    height: 84.6%;
    border-radius: 50%;
  }
}

.succesobtenu:hover span,
.succesapercu:hover span {
  opacity: 2;
}

.succesbloque {
  width: 100px;
  height: 130px;
  position: absolute;
  overflow: hidden;
  z-index: auto;
  border-radius: 50%;
  background: linear-gradient(315deg, black, 10%, #101010, 90%, #303030);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);

  &::after {
    content: "";
    position: absolute;
    z-index: auto;
    left: 8px;
    top: 8px;
    width: calc(100% - 16px);
    height: calc(100% - 16px);
    border-radius: 50%;
    background: linear-gradient(135deg, black, 10%, #101010, 90%, #303030);
  }
}

.succesnormal {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  overflow: hidden;
  z-index: auto;
  background: linear-gradient(315deg, #151515, 10%, #404040, 90%, #606060);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);

  &::after {
    content: "";
    position: absolute;
    z-index: auto;
    left: 8px;
    top: 8px;
    width: calc(100% - 16px);
    height: calc(100% - 16px);
    border-radius: 50%;
    background: linear-gradient(135deg, #151515, 10%, #404040, 90%, #606060);
  }
}

.succesbronze {
  --couleurshine: #dd8546;
  background: linear-gradient(315deg, #1e110c, 10%, #974c20, 90%, #dd8546);

  &::after {
    background: linear-gradient(135deg, #1e110c, 10%, #974c20, 90%, #dd8546);
  }
}

.succesargent {
  --couleurshine: white;
  background: linear-gradient(315deg, grey, 10%, #bebebe, 90%, #dcdcdc);

  &::after {
    background: linear-gradient(135deg, grey, 10%, #bebebe, 90%, #dcdcdc);
  }
}

.succesgold {
  --couleurshine: white;
  background: linear-gradient(315deg, #671908, 10%, orange, 90%, #fdf4c2);

  &::after {
    background: linear-gradient(135deg, #671908, 10%, orange, 90%, #fdf4c2);
  }
}

.succesdiamant {
  --couleurshine: white;
  background: linear-gradient(315deg, #0089ab, 10%, #71cee6, 90%, #dcf1f7);
  box-shadow: 0 0 20px #71cee6;
  animation: glow 1s alternate infinite;
  --couleur: #71cee6;

  &::after {
    background: linear-gradient(135deg, #0089ab, 10%, #71cee6, 90%, #dcf1f7);
  }
}

.succesplatine {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  z-index: -1;
  background-color: #ffffe6;
  box-shadow: 0 0 10px #ffffe6;
  --couleur: white;
  animation: glow 1s alternate infinite;

  &::before {
    content: "";
    z-index: auto;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0deg);
    position: absolute;
    width: 130px;
    height: 130px;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-image: conic-gradient(rgba(255, 255, 230, 0.5) 0deg 30deg,
        transparent 30deg 60deg,
        rgba(255, 255, 230, 0.5) 60deg 90deg,
        transparent 90deg 120deg,
        rgba(255, 255, 230, 0.5) 120deg 150deg,
        transparent 150deg 180deg,
        rgba(255, 255, 230, 0.5) 180deg 210deg,
        transparent 210deg 240deg,
        rgba(255, 255, 230, 0.5) 240deg 270deg,
        transparent 270deg 300deg,
        rgba(255, 255, 230, 0.5) 300deg 330deg,
        transparent 330deg 360deg);
    animation: succesrotate 6s linear infinite;
    border-radius: 100%;
    filter: blur(10px);
  }
}

@keyframes glow {
  0% {
    box-shadow: 0 0 10px var(--couleur);
  }

  100% {
    box-shadow: 0 0 20px var(--couleur);
  }
}

.succesbronze,
.succesargent,
.succesgold,
.succesdiamant {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  overflow: hidden;
  z-index: auto;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);

  &::before {
    content: "";
    z-index: auto;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0deg);
    position: absolute;
    width: 150px;
    height: 150px;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-image: conic-gradient(rgba(0, 0, 0, 0),
        var(--couleurshine),
        rgba(0, 0, 0, 0) 10%);
    animation: succesrotate 5s linear infinite;
    filter: blur(5px);
  }

  &::after {
    content: "";
    position: absolute;
    z-index: auto;
    left: 8px;
    top: 8px;
    width: calc(100% - 16px);
    height: calc(100% - 16px);
    border-radius: 50%;
  }
}

@keyframes succesrotate {
  100% {
    transform: translate(-50%, -50%) rotate(1turn);
  }
}

.containerprog {
  position: relative;
  width: 60%;
  height: 20px;
  outline: 1px solid orange;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.2);
  margin: 10px auto 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  p {
    color: white;
    margin: 0;
    z-index: 1;
  }
}

.banniereprogression {
  position: absolute;
  height: 100%;
  left: 0;
  background-color: orange;
}

.accueil {
  position: relative;
  width: 50px;
  height: 50px;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  border: 7px double black;
  border-left: none;
  border-radius: 0px 20px 20px 0px;

  a {
    position: absolute;
    margin: 0;
    width: 100%;
    height: 100%;
  }

  &:hover {
    animation: headershow 1s forwards;
  }
}

@keyframes headershow {
  0% {
    width: 50px;
    background-color: rgba(0, 0, 0, 0.5);
  }

  40% {
    width: 50px;
    background-color: rgba(0, 0, 0, 0.5);
  }

  100% {
    width: 100%;
    background-color: orange;
  }
}

a {
  color: red;
  font-weight: bold;
  text-decoration: none;

  &:hover {
    color: orange;
  }
}

#bloc_page {
  width: 100%;
  display: none;
  margin-bottom: 100px;
  text-align: center;
}

#bloc1,
#bloc3 {
  margin: 0;
  padding: 50px 170px;
  background-color: rgba(0, 0, 0, 0.2);
}

#bloc2,
#bloc4 {
  margin: 0;
  padding: 50px 170px;
  min-height: 500px;
}

@keyframes fadezoom {
  0% {
    opacity: 0;
    transform: scale(0.3);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

#bann {
  opacity: 0;
  animation: fadezoom 5s forwards;
  animation-delay: 1s;

  img {
    width: 50%;
  }
}

.banniere {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;

  a {
    opacity: 0;
    animation: fade 9s forwards;
    animation-delay: 16s;
    width: 150px;
    height: 50px;
    margin: 50px;
  }
}

@keyframes typewriting {
  0% {
    width: 0;
    opacity: 1;
    border-color: white;
  }

  99% {
    width: 99%;
    opacity: 1;
    border-color: white;
  }

  100% {
    width: 100%;
    opacity: 1;
  }
}

@keyframes blink {
  0% {
    border-color: transparent;
  }

  50% {
    border-color: transparent;
  }

  75% {
    border-color: white;
  }

  100% {
    border-color: white;
  }
}

.bannierep {
  display: inline-block;
}

.type1 {
  opacity: 0;
  color: white;
  text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.3);
  font-size: 20px;
  font-family: "source code pro", monospace;
  overflow: hidden;
  border-right: 3px solid transparent;
  white-space: nowrap;
  width: 0;
  animation: typewriting 6s steps(58, end) forwards;
  animation-delay: 6s;
}

.type2 {
  opacity: 0;
  color: white;
  text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.3);
  font-size: 20px;
  font-family: "source code pro", monospace;
  overflow: hidden;
  border-right: 3px solid white;
  white-space: nowrap;
  width: 0;
  animation: typewriting 3s steps(37, end) forwards, blink 1s infinite;
  animation-delay: 12s, 15.5s;
}

.vos {
  text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.3);
  font-weight: bold;
}

#top {
  position: fixed;
  right: 20px;
  bottom: 70px;
}

h1 {
  color: orange;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  font-family: "arial black", "arial", "courier new", serif;
  text-align: center;
  padding: 20px 0px;
}

.dialogue {
  text-align: center;
  margin: auto;
  width: 80%;
}

.portrait {
  width: 20%;
  display: inline-block;
  vertical-align: top;

  img {
    width: 100%;
  }
}

.bulleperso {
  background: rgba(255, 255, 255, 0.8);
  display: inline-block;
  vertical-align: top;
  width: 60%;
  min-height: 70px;
  margin-left: 30px;
  position: relative;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  padding: 14px 30px;
  margin-top: 10px;
  margin-bottom: 10px;

  &::before {
    content: "";
    position: absolute;
    right: 100%;
    top: 50px;
    width: 0;
    height: 0;
    border-top: 13px solid transparent;
    border-right: 20px solid rgba(255, 255, 255, 0.8);
    border-bottom: 13px solid transparent;
  }

  p {
    text-align: justify;
    color: black;
  }
}

.jouer {
  text-align: center;
  color: black;
}

.cardalign {
  text-align: center;
  width: 100%;
  margin: auto;
}

.card {
  display: inline-block;
  width: 330px;
  height: 558px;
  vertical-align: top;
  border-radius: 20px;
  background-color: black;
  border: 5px solid black;
  box-shadow: 3px 3px 10px 3px rgba(0, 0, 0, 0.5);
  margin: 10px;
  font-weight: normal;

  p {
    text-align: justify;
    color: #8c4000;
    width: 80%;
    margin: auto;
    word-wrap: break-word;
    font-size: 12px;
    padding: 20px 20px;
    overflow: visible;

    img {
      max-width: 20px;
    }
  }
}

.cardfond {
  background: url("/escaperpg/images/fondcard.png");
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 15px;
  padding: 0;
  width: 100%;
  height: 100%;
}

h2 {
  text-align: center;
  color: black;
  font-weight: bold;
  font-size: 14px;
  margin: auto;
  padding: 12px 0px 12px 0px;
}

.cardimage {
  text-align: center;
  background-color: black;
  margin: 2px 3px;
  padding: 0;
  overflow: hidden;
  border: 2px solid black;
  border-radius: 10px;
  height: 196px;

  img {
    width: 100%;
  }
}

.cardFooter {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 80%;
  margin: auto;
  color: black;
  word-wrap: break-word;
  font-size: 12px;
  overflow: visible;

  img {
    max-width: 20px;
  }

  .cardRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
}

table {
  text-align: justify;
  color: black;
  width: 80%;
  margin: auto;
  word-wrap: break-word;
  font-size: 12px;
  overflow: visible;
}

#txt {
  margin: 20px;
  color: black;
}

.info {
  color: orange;
}

.lieu {
  color: green;
  font-weight: bold;
}

.important {
  color: red;
  font-weight: bold;
}

.indice {
  color: blue;
}

.mdp {
  font-weight: bold;
  text-shadow: #e05c00 1px 1px;
}

.categorie {
  font-style: italic;
  color: darkblue;
}

.boutonindice {
  background: url("/escaperpg/images/indice.png");
  border: none;
  width: 30px;
  height: 30px;
  cursor: help;
}

#lienspage {
  width: 90%;
  padding: 0;
  margin: auto;
  text-align: center;
}

#liste {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: auto;
}

.dropbtn {
  display: inline-block;
  margin-top: 0;
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px 0px;
  font-size: 20px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  width: 20%;
  min-width: 100px;
  border-radius: 10px;

  &:hover {
    background-color: darkorange;
    color: black;
  }
}

.dropbtnfocus {
  background-color: orange;
  color: black;
}

#liensaffichage {
  color: white;
  text-align: center;

  div {
    width: 90%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin: auto;
    margin-bottom: 10px;
    padding: 10px;
  }

  p {
    display: inline-block;
    vertical-align: middle;
    width: 75%;
    text-align: justify;
  }

  img {
    width: 20%;
    min-width: 200px;
    display: inline-block;
    vertical-align: middle;
  }
}

.dropdown {
  display: none;
}

.dropdown-affichage {
  display: block;
  background-color: none;
  width: 90%;
  padding: 10px;
  margin: auto;
  margin-bottom: 150px;

  p {
    color: orange;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
}

.dropquestion {
  color: orange;
  padding: 10px;
  margin: 0;
  font-size: 24px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  text-align: center;
  border-bottom: 1px solid black;
}

.dropquestionfocus {
  text-decoration: underline;
  color: white;
}

.reponse {
  display: none;
}

.reponse-affichage {
  display: block;
  overflow: auto;
  width: 100%;
  border-bottom: 1px solid black;

  p {
    color: orange;
    margin: 0;
    padding: 10px;
    text-decoration: none;
    display: block;
    text-align: justify;
  }
}

#load {
  width: 100%;
  height: 200px;
  vertical-align: top;
  display: inline-block;
  margin-top: 100px;
}

#loader {
  position: relative;
  left: 50%;
  top: 50%;
  z-index: 1;
  margin: -75px 0 0 -75px;
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid lightskyblue;
  width: 20px;
  height: 20px;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

footer {
  width: 100%;
  color: white;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7) 35px, transparent);
  text-align: center;
  padding: 15px 2px 0px 2px;
  clear: both;
  font-size: small;
  position: fixed;
  bottom: 0;
  z-index: 2;
}