#barre1 {
  position: absolute;
  left: 2.13%;
  top: 71.43%;
  width: 20.24%;
  height: 21.84%;
}

#barre2 {
  position: absolute;
  left: 21.02%;
  top: 43.33%;
  width: 14.41%;
  height: 30.34%;
}

#barre3 {
  position: absolute;
  left: 47.64%;
  top: 34.24%;
  width: 4.72%;
  height: 30.93%;
}

#barre4 {
  position: absolute;
  left: 64.49%;
  top: 43.33%;
  width: 14.41%;
  height: 30.34%;
}

#barre5 {
  position: absolute;
  left: 77.56%;
  top: 71.43%;
  width: 20.24%;
  height: 21.84%;
}
