#panneauelec {
  width: 550px;
  height: 500px;
  position: relative;
  margin: auto;
  background-image: url("/escaperpg/images/secrets/panneauelec.png");
}

.dropperelec {
  width: 100px;
  height: 100px;
  display: inline-block;
  vertical-align: top;
  transition: all 200ms linear;
  margin: 0;
}

.draggableelec {
  display: inline-block;
  vertical-align: top;
  transition: all 200ms linear;
  user-select: none;
  background-color: rgba(100, 100, 100, 0.4);
  width: 100px;
  height: 100px;
  margin: 0;
}

#c1 {
  position: absolute;
  top: 0;
  left: 225px;
}

#d1 {
  position: absolute;
  top: 0;
  left: 325px;
}

#e1 {
  position: absolute;
  top: 0;
  left: 425px;
}

#a2 {
  position: absolute;
  top: 100px;
  left: 25px;
}

#b2 {
  position: absolute;
  top: 100px;
  left: 125px;
}

#c2 {
  position: absolute;
  top: 100px;
  left: 225px;
}

#d2 {
  position: absolute;
  top: 100px;
  left: 325px;
}

#e2 {
  position: absolute;
  top: 100px;
  left: 425px;
}

#a3 {
  position: absolute;
  top: 200px;
  left: 25px;
}

#b3 {
  position: absolute;
  top: 200px;
  left: 125px;
}

#c3 {
  position: absolute;
  top: 200px;
  left: 225px;
}

#d3 {
  position: absolute;
  top: 200px;
  left: 325px;
}

#e3 {
  position: absolute;
  top: 200px;
  left: 425px;
}

#a4 {
  position: absolute;
  top: 300px;
  left: 25px;
}

#b4 {
  position: absolute;
  top: 300px;
  left: 125px;
}

#c4 {
  position: absolute;
  top: 300px;
  left: 225px;
}

#d4 {
  position: absolute;
  top: 300px;
  left: 325px;
}

#e4 {
  position: absolute;
  top: 300px;
  left: 425px;
}

#a5 {
  position: absolute;
  bottom: 0px;
  left: 25px;
}

#b5 {
  position: absolute;
  bottom: 0px;
  left: 125px;
}

#c5 {
  position: absolute;
  bottom: 0px;
  left: 225px;
}

#d5 {
  position: absolute;
  bottom: 0px;
  left: 325px;
}

#e5 {
  position: absolute;
  bottom: 0px;
  left: 425px;
}
