#container {
  width: 80%;
  margin: 10px auto;
  display: flex;
  justify-content: space-between;
}

#panneauelec {
  width: 50%;
  position: relative;

  img {
    width: 100%;
  }
}

#innerpanneau {
  width: 90%;
  aspect-ratio: 1 / 1;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 0;
  position: absolute;
  top: 0;
  left: 5%;
}

.dropperelec {
  aspect-ratio: 1 / 1;
  overflow: hidden;
  transition: all 200ms linear;
  margin: 0;
  padding: 0;
}

.draggables-container {
  width: 40%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.draggableelec {
  display: inline-block;
  vertical-align: top;
  transition: all 200ms linear;
  user-select: none;
  margin: 0;

  img {
    width: 100%;
  }
}


@keyframes shake {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-5px);
  }

  50% {
    transform: translateX(5px);
  }

  75% {
    transform: translateX(-5px);
  }

  100% {
    transform: translateX(0);
  }
}

.shake {
  animation: shake 0.3s;
}
