#armoireapharmacie {
  max-width: 750px;
  position: relative;
  margin: auto;

  img {
    width: 100%;
  }
}

.hg {
  position: absolute;
  top: 29.7%;
  left: 4%;
}

.hm {
  position: absolute;
  top: 29.7%;
  left: 37%;
}

.hd {
  position: absolute;
  top: 29.7%;
  left: 70%;
}

.mg {
  position: absolute;
  top: 63%;
  left: 4%;
}

.mm {
  position: absolute;
  top: 63%;
  left: 37%;
}

.md {
  position: absolute;
  top: 63%;
  left: 70%;
}

.bg {
  position: absolute;
  top: 96%;
  left: 4%;
}

.bm {
  position: absolute;
  top: 96%;
  left: 37%;
}

.bd {
  position: absolute;
  top: 96%;
  left: 70%;
}

#armoire {
  position: absolute;
  top: 25.5%;
  right: 10%;
  width: 10.7%;
  height: 24.5%;
}

#armoireopened {
  position: absolute;
  top: 25%;
  right: 10%;
  width: 19%;
  height: 24.5%;
}
