html {
  scroll-behavior: smooth;
}

body {
  background: rgb(40, 40, 40) url("/escaperpg/images/bg.png");
  background-repeat: repeat;
  font-family: arial, "arial black", "comic sans ms", "courier new", georgia,
    impact, "times new roman", "trebuchet ms", verdana, serif;
  padding: 0;
  margin-bottom: 100px;
}

header {
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 10px 0px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 3px 10px black;
}

#banniere {
  width: 100%;

  img {
    width: 100%;
  }
}

main {
  width: 100%;
  margin: auto;
  padding: 10px 0 300px 0;
  text-align: center;
  display: none;
}

h1 {
  color: orange;
  text-transform: uppercase;
  font-size: small;
}

a {
  color: red;
  font-weight: bold;
  text-decoration: none;

  &:hover {
    color: orange;
  }
}

#txt {
  width: 70%;
  background-color: rgba(0, 0, 0, 0.6);
  display: inline-block;
  vertical-align: top;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  color: white;

  p {
    text-align: justify;
  }
}

#enigme {
  text-align: center;

  img {
    display: inline-block;
    vertical-align: middle;
    max-width: 200px;
  }

  a {
    cursor: zoom-in;
  }
}

#enigmelieu {
  max-width: 70%;
  background-color: none;
  position: relative;
  margin: auto;
  margin-bottom: 20px;

  a {
    cursor: default;
  }

  img {
    width: 100%;
  }
}

#enigmepensees {
  text-align: center;
}

#vest {
  position: absolute;
  top: 30.5%;
  left: 18.8%;
  width: 9.2%;
  height: 33%;
}

#coffret {
  width: 80%;
  position: relative;
  margin: auto;

  img {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
  }
}

#fenetre {
  position: absolute;
  left: 7.5%;
  top: 2.75%;
  width: 40.2%;
  height: 40.5%;
}

#piano {
  position: absolute;
  left: 37.2%;
  bottom: 37.75%;
  width: 23.8%;
  height: 7.5%;
}

#grenierpiece {
  position: absolute;
  right: 42%;
  bottom: 44%;
  width: 1.2%;
  height: 1%;
}
