#tabchbr {
  position: absolute;
  right: 2.3%;
  top: 26.5%;
  width: 18.17%;
  height: 21%;
}

#piechbr {
  position: absolute;
  right: 9.4%;
  bottom: 17%;
  width: 1.7%;
  height: 1%;
}

#cofchbr {
  position: absolute;
  right: 8.3%;
  top: 38.25%;
  width: 7%;
  height: 4.5%;
}
