.cle1 {
  background: url("/escaperpg/images/secrets/cle1.png");
  border: none;
  width: 150px;
  height: 300px;
  cursor: pointer;
}

.cle2 {
  background: url("/escaperpg/images/secrets/cle2.png");
  border: none;
  width: 150px;
  height: 300px;
  cursor: pointer;
}

.cle3 {
  background: url("/escaperpg/images/secrets/cle3.png");
  border: none;
  width: 150px;
  height: 300px;
  cursor: pointer;
}

.cle4 {
  background: url("/escaperpg/images/secrets/cle4.png");
  border: none;
  width: 150px;
  height: 300px;
  cursor: pointer;
}

.cle5 {
  background: url("/escaperpg/images/secrets/cle5.png");
  border: none;
  width: 150px;
  height: 300px;
  cursor: pointer;
}
