html
{
	scroll-behavior: smooth;
}

body
{
	background: rgb(40,40,40) url("/escaperpg/images/bg.png");
	background-repeat: repeat;
	font-family: arial, "arial black", "comic sans ms", "courier new", georgia, impact, "times new roman", "trebuchet ms", verdana, serif;
	padding: 0;
	margin-bottom: 100px;
}
	
header
{
	width: 100%;
	text-align: center;
	margin: 0;
	padding: 10px 0px;
	background-color: rgb(255,255,255);
	box-shadow: 0px 3px 10px black;
}

#banniere
{
	width: 100%
}

#banniere img
{
	width: 100%;
}

#load
{
	width: 70%;
	height: 200px;
	vertical-align: top;
	display: inline-block;
}

#loader
{
	position: relative;
	left: 50%;
	top: 50%;
	z-index: 1;
	width: 150px;
	height: 150px;
	margin: -75px 0 0 -75px;
	border: 5px solid #f3f3f3;
	border-radius: 50%;
	border-top: 5px solid black;
	width: 20px;
	height: 20px;
	-webkit-animation: spin 1s linear infinite;
	animation: spin 1s linear infinite;
}

@-webkit-keyframes spin
{
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin
{
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#bloc_page
{
	width: 100%;
	margin: auto;
	padding: 10px 0 300px 0;
	text-align: center;
	display: none;
}

#connexioncompte
{
	position: fixed;
	top: 50px;
	right: 0;
	padding: 10px;
	overflow: hidden;
	background-color: rgba(0,0,0,0.2);
	border: 7px double black;
	border-right: none;
	border-radius: 20px 0px 0px 20px;
	text-align: center;
	font-size: x-small;
}

#connexioncompte img
{
	width: 50px;
	height: 50px;
	border-radius: 50%;
}

#connexioncompte:hover
{
	border: 7px double orange;
	border-right: none;
	border-radius: 20px 0px 0px 20px;
}

#succespopup
{
	width: 150px;
	position: fixed;
	top: 180px;
	right: -230px;
	background-color: rgba(0,0,0,0.2);
	border: 7px double black;
	color: orange;
	border-right: none;
	border-radius: 20px 0px 0px 20px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	z-index: 20;
}

#succespopup p
{
	text-align: center !important;
}

#succespopup a
{
	color: red;
	display: flex;
	align-items: center;
	justify-content: center;
}

#succespopup a:hover
{
	color: orange;
}

.succesapercu
{
	display: inline-block;
	color: orange;
	border-radius: 50%;
	width: 50px;
	height: 65px;
	margin: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.succesapercu span
{
	position: absolute;
	top: 40px;
	right: 0;
	background-color: black;
	color: orange;
	border-radius: 10px;
	opacity: 0;
	font-weight: normal;
	font-size: 12px;
	width: 200px;
	padding: 20px;
	text-align: justify;
	pointer-events: none;
	z-index: 3;
}

.succesapercu:hover span
{
	opacity: 1;
}

.succesapercu .succesplatine:before
{
	width: 80px;
	height: 80px;
}

.succesapercu div
{
	width: 50px;
	height: 65px;
	border-radius: 50%;
}

.succesapercu img
{
	width: 80%;
	height: 84.6%;
	border-radius: 50%;
	z-index: 2;
}

.succesnormal
{
	width: 100%;
	height: 100%;
	position: absolute;
	overflow: hidden;
	z-index: auto;
	border-radius: 50%;
	background: linear-gradient(315deg, #151515, 10%, #404040, 90%, #606060);
	&::after
	{
		content: '';
		position: absolute;
		z-index: auto;
		left: 3px;
		top: 3px;
		width: calc(100% - 6px);
		height: calc(100% - 6px);
		border-radius: 50%;
		background: linear-gradient(135deg, #151515, 10%, #404040, 90%, #606060);
	}
}

.succesbronze
{
	--couleurshine: #dd8546;
	background: linear-gradient(315deg, #1e110c, 10%, #974c20, 90%, #dd8546);
	&::after
	{
		background: linear-gradient(135deg, #1e110c, 10%, #974c20, 90%, #dd8546);
	}
}

.succesargent
{
	--couleurshine: white;
	background: linear-gradient(315deg, grey, 10%, #BEBEBE, 90%, #DCDCDC);
	&::after
	{
		background: linear-gradient(135deg, grey, 10%, #BEBEBE, 90%, #DCDCDC);
	}
}

.succesgold
{
	--couleurshine: white;
	background: linear-gradient(315deg, #671908, 10%, orange, 90%, #fdf4c2);
	&::after
	{
		background: linear-gradient(135deg, #671908, 10%, orange, 90%, #fdf4c2);
	}
}

.succesdiamant
{
	--couleurshine: white;
	background: linear-gradient(315deg, #0089ab, 10%, #71cee6, 90%, #dcf1f7);
	box-shadow: 0 0 20px #71cee6;
	animation: glow 1s alternate infinite;
	--couleur: #71cee6;
	&::after
	{
		background: linear-gradient(135deg, #0089ab, 10%, #71cee6, 90%, #dcf1f7);
	}
}

.succesplatine
{
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: -2;
	border-radius: 50%;
	background-color: #ffffe6;
	box-shadow: 0 0 10px #ffffe6;
	--couleur: white;
	animation: glow 1s alternate infinite;
	&::before
	{
		content: '';
		z-index: -4;
		text-align: center;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%) rotate(0deg);
		position: absolute;
		width: 130%;
		height: 130%;
		background-repeat: no-repeat;
		background-position: 0 0;
		background-image: conic-gradient(rgba(255,255,230,0.5) 0deg 30deg, transparent 30deg 60deg, rgba(255,255,230,0.5) 60deg 90deg, transparent 90deg 120deg, rgba(255,255,230,0.5) 120deg 150deg, transparent 150deg 180deg,
			rgba(255,255,230,0.5) 180deg 210deg, transparent 210deg 240deg, rgba(255,255,230,0.5) 240deg 270deg, transparent 270deg 300deg, rgba(255,255,230,0.5) 300deg 330deg, transparent 330deg 360deg);
		animation: succesrotate 6s linear infinite;
		border-radius: 100%;
		filter: blur(10px);
	}
}

@keyframes glow
{
	0% { box-shadow: 0 0 10px var(--couleur); } 100% { box-shadow: 0 0 20px var(--couleur); }
}

.succesbronze, .succesargent, .succesgold, .succesdiamant
{
	width: 100%;
	height: 100%;
	position: absolute;
	overflow: hidden;
	z-index: 0;
	border-radius: 50%;
	&::before
	{
		content: '';
		z-index: -2;
		text-align: center;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%) rotate(0deg);
		position: absolute;
		width: 150%;
		height: 150%;
		background-repeat: no-repeat;
		background-position: 0 0;
		background-image: conic-gradient(rgba(0,0,0,0), rgb(255,248,220), rgba(0,0,0,0) 15%);
		animation: succesrotate 5s linear infinite;
		filter: blur(10px);
	}
	&::after
	{
		content: '';
		position: absolute;
		z-index: -1;
		left: 3px;
		top: 3px;
		width: calc(100% - 6px);
		height: calc(100% - 6px);
		border-radius: 50%;
	}
}

@keyframes succesrotate
{
	100% { transform: translate(-50%, -50%) rotate(1turn); }
}

nav
{
	width: 20%;
	display: inline-block;
	vertical-align: top;
	background-color: rgba(0,0,0,0.6);
	border-radius: 10px;
	color : white;
	text-align: center;
	padding: 10px;
}

nav img
{
	width: 60%;
}

nav a
{
	color: orange;
	font-weight: normal;
}

nav a:hover
{
	color: brown;
}

nav li
{
	text-align: justify;
}

h1
{
	color: orange;
	text-transform: uppercase;
	font-size: small;
}

a
{
	color: red;
	font-weight: bold;
	text-decoration: none;
}

a:hover
{
	color: orange;
}

.mdp
{
	font-weight: bold;
	text-shadow: grey 1px 1px;
}
	
.info
{
	color: orange;
}
	
.lieu
{
	color: darkgreen;
}
	
.important
{
	color: darkred;
	font-weight: bold;
}

.indice
{
	color: dodgerblue;
	text-align: center;
	font-weight: bold;
}

.reponse
{
	color: red;
	text-align: center;
	font-weight: bold;
}

.boutonindice
{
	background: url("/escaperpg/images/indice.png");
	border: none;
	width: 30px;
	height: 30px;
	cursor: help;
	margin: 20px;
}

.boutonreponse
{
	background: url("/escaperpg/images/reponse.png");
	border: none;
	width: 30px;
	height: 30px;
	cursor: help;
	margin: 20px;
}

#inventaire
{
	text-align: center;
	display: inline-block;
	vertical-align: middle;
	margin: 0 5px;
}

#inventaire img
{
	width: 70px;
}

#txt
{
	width: 70%;
	background-color: rgba(0,0,0,0.6);
	display: inline-block;
	vertical-align: top;
	padding: 10px;
	text-align: justify;
	border-radius: 10px;
	color: white;
}

.dialogue
{
	text-align: center;
	margin: 10px 0px;
}

.portrait
{
	width: 20%;
	display: inline-block;
	vertical-align: top;
}

.portrait img
{
	width: 100%;
}

.bulleperso
{
	background: rgba(255,255,255,0.8);
	display: inline-block;
	vertical-align: top;
	width: 60%;
	min-height: 70px;
	margin-left: 30px;
	position: relative;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	padding: 14px 30px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.bulleperso:before
{
	content: "";
	position: absolute;
	right: 100%;
	top: 50px;
	width: 0;
	height: 0;
	border-top: 13px solid transparent;
	border-right: 20px solid rgba(255,255,255,0.8);
	border-bottom: 13px solid transparent;
}

.bulleperso p
{
	text-align: justify;
	color: black;
}

input[type=submit]
{
	width: 100%;
	max-width: 300px;
	padding: 10px;
	background-color: white;
	border: 2px solid black;
	border-radius: 10px;
	cursor: pointer;
	text-transform: uppercase;
}

input[type=submit]:hover
{
	background-color: rgb(220,120,0);
}

.current input[type=submit]
{
	background-color: orange;
}

.current input[type=submit]:hover
{
	background-color: rgb(220,120,0);
}

input[type=text]
{
	width: 100%;
	max-width: 200px;
	max-height: 20px;
}

#enigme
{
	text-align: center;
}

#enigme img
{
	display: inline-block;
	vertical-align: middle;
	max-width: 200px;
}

#enigme a
{
	cursor: zoom-in;
}

#enigmelieu
{
	max-width: 70%;
	background-color: none;
	position: relative;
	margin: auto;
	margin-bottom: 20px;
}

#enigmelieu a
{
	cursor: default;
}

#enigmelieu img
{
	width: 100%;
}

#enigmepensees
{
	text-align: center;
}

#armoireapharmacie
{
	max-width: 750px;
	position: relative;
	margin: auto;
}

#armoireapharmacie img
{
	width : 100%;
}

.hg
{
	position: absolute;
	top: 29.7%;
	left: 4%;
}

.hm
{
	position: absolute;
	top: 29.7%;
	left: 37%;
}

.hd
{
	position: absolute;
	top: 29.7%;
	left: 70%;
}

.mg
{
	position: absolute;
	top: 63%;
	left: 4%;
}

.mm
{
	position: absolute;
	top: 63%;
	left: 37%;
}

.md
{
	position: absolute;
	top: 63%;
	left: 70%;
}

.bg
{
	position: absolute;
	top: 96%;
	left: 4%;
}

.bm
{
	position: absolute;
	top: 96%;
	left: 37%;
}

.bd
{
	position: absolute;
	top: 96%;
	left: 70%;
}

button
{
	background: none;
	border: none;
	cursor: default;
	padding: 0;
}

button img
{
	width: 100%;
	height: 100%;
	margin: 0;
}

#vest
{
	position: absolute;
	top: 30.5%;
	left: 18.8%;
	width: 9.2%;
	height: 33%;
}

#armoire
{
	position: absolute;
	top: 25.5%;
	right: 10%;
	width: 10.7%;
	height: 24.5%;
}

#armoireopened
{
	position: absolute;
	top: 25%;
	right: 10%;
	width: 19%;
	height: 24.5%;
}

#coffret
{
	width: 80%;
	position: relative;
	margin: auto;
}

#coffret img
{
	display: inline-block;
	vertical-align: middle;
	width: 100%;
}

#trappeopened
{
	position: absolute;
	left: 22.7%;
	bottom: 17.2%;
	width: 22%;
	height: 28%;
}

#trappeclosed
{
	position: absolute;
	left: 26.7%;
	bottom: 19.5%;
	width: 18.2%;
	height: 13.75%;
}

#trappehidden
{
	position: absolute;
	left: 13%;
	bottom: 9.5%;
	width: 38.5%;
	height: 27.5%;
}

#tiroir
{
	position: absolute;
	right: 29%;
	bottom: 37.25%;
	width: 6.5%;
	height: 5.25%;
}

#fenetre
{
	position: absolute;
	left: 7.5%;
	top: 2.75%;
	width: 40.2%;
	height: 40.5%;
}

#piano
{
	position: absolute;
	left: 37.2%;
	bottom: 37.75%;
	width: 23.8%;
	height: 7.5%;
}

#grenierpiece
{
	position: absolute;
	right: 42%;
	bottom: 44%;
	width: 1.2%;
	height: 1%;
}

#tabchbr
{
	position: absolute;
	right: 2.3%;
	top: 26.5%;
	width: 18.17%;
	height: 21%;
}

#piechbr
{
	position: absolute;
	right: 9.4%;
	bottom: 17%;
	width: 1.7%;
	height: 1%;
}

#cofchbr
{
	position: absolute;
	right: 8.3%;
	top: 38.25%;
	width: 7%;
	height: 4.5%;
}

#symbureau
{
	position: absolute;
	left: 44.5%;
	top: 16%;
	width: 10%;
	height: 20%;
}

.cle1
{
	background: url("/escaperpg/images/secrets/cle1.png");
	border: none;
	width: 150px;
	height: 300px;
	cursor: pointer;
}

.cle2
{
	background: url("/escaperpg/images/secrets/cle2.png");
	border: none;
	width: 150px;
	height: 300px;
	cursor: pointer;
}

.cle3
{
	background: url("/escaperpg/images/secrets/cle3.png");
	border: none;
	width: 150px;
	height: 300px;
	cursor: pointer;
}

.cle4
{
	background: url("/escaperpg/images/secrets/cle4.png");
	border: none;
	width: 150px;
	height: 300px;
	cursor: pointer;
}

.cle5
{
	background: url("/escaperpg/images/secrets/cle5.png");
	border: none;
	width: 150px;
	height: 300px;
	cursor: pointer;
}

#top
{
	position: fixed;
	right: 20px;
	bottom: 70px;
}

#dragdropcoffret
{
	width: 80%;
	position: relative;
	margin: auto;
}

#dragdropcoffret img
{
	display: inline-block;
	vertical-align: middle;
	width: 100%;
}

.dropper
{
	width: 15.8%;
	height: 37.5%;
	display: inline-block;
	vertical-align: top;
	background-color: rgba(40,40,40,0.4);
	border-radius: 75px;
	transition: all 200ms linear;
}

.drop_hover
{
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.8) inset;
}

.draggable
{
	width: 15.8%;
	height: 73%;
	display: inline-block;
	vertical-align: top;
	background-color: rgba(40,40,40,0.4);
	border-radius: 75px;
	transition: all 200ms linear;
	user-select: none;
}

.drag_hover
{
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.8) inset;
}

#drop1
{
	position: absolute;
	top: 50%;
	left: 2.1%;
}

#drop2
{
	position: absolute;
	top: 50%;
	left: 22.1%;
}

#drop3
{
	position: absolute;
	top: 50%;
	left: 42.1%;
}

#drop4
{
	position: absolute;
	top: 50%;
	left: 62.1%;
}

#drop5
{
	position: absolute;
	top: 50%;
	left: 82.1%;
}

#drag1
{
	position: absolute;
	top: 12.5%;
	left: 2.1%;
}

#drag2
{
	position: absolute;
	top: 12.5%;
	left: 22.1%;
}

#drag3
{
	position: absolute;
	top: 12.5%;
	left: 42.1%;
}

#drag4
{
	position: absolute;
	top: 12.5%;
	left: 62.1%;
}

#drag5
{
	position: absolute;
	top: 12.5%;
	left: 82.1%;
}

#panneauelec
{
	width: 550px;
	height: 500px;
	position: relative;
	margin: auto;
	background-image: url("/escaperpg/images/secrets/panneauelec.png");
}

.dropperelec
{
	width: 100px;
	height: 100px;
	display: inline-block;
	vertical-align: top;
	transition: all 200ms linear;
	margin: 0;
}

.draggableelec
{
	display: inline-block;
	vertical-align: top;
	transition: all 200ms linear;
	user-select: none;
	background-color: rgba(100,100,100,0.4);
	width: 100px;
	height: 100px;
	margin: 0;
}

#c1
{
	position: absolute;
	top: 0;
	left: 225px;
}

#d1
{
	position: absolute;
	top: 0;
	left: 325px;
}

#e1
{
	position: absolute;
	top: 0;
	left: 425px;
}

#a2
{
	position: absolute;
	top: 100px;
	left: 25px;
}

#b2
{
	position: absolute;
	top: 100px;
	left: 125px;
}

#c2
{
	position: absolute;
	top: 100px;
	left: 225px;
}

#d2
{
	position: absolute;
	top: 100px;
	left: 325px;
}

#e2
{
	position: absolute;
	top: 100px;
	left: 425px;
}

#a3
{
	position: absolute;
	top: 200px;
	left: 25px;
}

#b3
{
	position: absolute;
	top: 200px;
	left: 125px;
}

#c3
{
	position: absolute;
	top: 200px;
	left: 225px;
}

#d3
{
	position: absolute;
	top: 200px;
	left: 325px;
}

#e3
{
	position: absolute;
	top: 200px;
	left: 425px;
}

#a4
{
	position: absolute;
	top: 300px;
	left: 25px;
}

#b4
{
	position: absolute;
	top: 300px;
	left: 125px;
}

#c4
{
	position: absolute;
	top: 300px;
	left: 225px;
}

#d4
{
	position: absolute;
	top: 300px;
	left: 325px;
}

#e4
{
	position: absolute;
	top: 300px;
	left: 425px;
}

#a5
{
	position: absolute;
	bottom: 0px;
	left: 25px;
}

#b5
{
	position: absolute;
	bottom: 0px;
	left: 125px;
}

#c5
{
	position: absolute;
	bottom: 0px;
	left: 225px;
}

#d5
{
	position: absolute;
	bottom: 0px;
	left: 325px;
}

#e5
{
	position: absolute;
	bottom: 0px;
	left: 425px;
}

#cerclerituel
{
	width: 600px;
	height: 600px;
	position: relative;
	margin: auto;
	background-image: url("/escaperpg/images/secrets/cerclerituel.png");
}

.droppercercle
{
	width: 23px;
	height: 23px;
	display: inline-block;
	vertical-align: top;
	background-color: rgba(80,80,80,0.4);
	transition: all 200ms linear;
	margin: 0;
}

.draggablecercle
{
	display: inline-block;
	vertical-align: top;
	transition: all 200ms linear;
	user-select: none;
	background-color: rgba(80,80,80,0.4);
	width: 23px;
	height: 23px;
	margin: 0;
}

#symb1
{
	position: absolute;
	top: 77px;
	left: 290px;
}

#symb2
{
	position: absolute;
	top: 123px;
	left: 290px;
}

#symb3
{
	position: absolute;
	top: 188px;
	left: 290px;
}

#symb4
{
	position: absolute;
	top: 334px;
	left: 78px;
}

#symb5
{
	position: absolute;
	top: 334px;
	left: 144px;
}

#symb6
{
	position: absolute;
	top: 334px;
	left: 236px;
}

#symb7
{
	position: absolute;
	top: 334px;
	left: 290px;
}

#symb8
{
	position: absolute;
	top: 334px;
	left: 343px;
}

#symb9
{
	position: absolute;
	top: 334px;
	right: 144px;
}

#symb10
{
	position: absolute;
	top: 334px;
	right: 78px;
}

#symb11
{
	position: absolute;
	bottom: 114px;
	left: 68px;
}

#symb12
{
	position: absolute;
	bottom: 99px;
	left: 290px;
}

#symb13
{
	position: absolute;
	bottom: 114px;
	right: 68px;
}

#symb14
{
	position: absolute;
	bottom: 31px;
	left: 290px;
}

footer
{
	width: 100%;
	color: white;
	text-align: center;
	padding: 0;
	clear: both;
	font-size: small;
	bottom: 0;
	position: fixed;
	background: linear-gradient(to top, rgba(0,0,0,0.3) 80%, transparent);
}

#inventairefooter
{
	width: 100%;
	margin: auto;
	cursor: pointer;
}

#motsdepasse
{
	width: 100%;
	margin: auto;
	cursor: pointer;
}

.footerhidden
{
	display: none;
}

.footeraffichage
{
	display: block;
	width: 90%;
	padding: 10px;
	max-height: 250px;
	overflow: auto;
	margin: auto;
}