#panneauelec {
  width: 60%;
  margin: auto;
  background-image: url("/escaperpg/images/secrets/panneauelec.png");
  display: flex;
  flex-direction: row-reverse;

  div {
  width: 20%;
  aspect-ratio: 1 / 1;
  transition: all 200ms linear;
  margin: 0;
  }
}

.draggableelec {
  display: inline-block;
  vertical-align: top;
  transition: all 200ms linear;
  user-select: none;
  background-color: rgba(100, 100, 100, 0.4);
  width: 100px;
  height: 100px;
  margin: 0;
}
