.connexioncompte {
    position: fixed;
    top: 10px;
    right: 10px;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    text-align: center;
    font-size: x-small;
    z-index: 100;

    img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }
}
