#cerclerituel {
  width: 600px;
  height: 600px;
  position: relative;
  margin: auto;
  background-image: url("/escaperpg/images/secrets/cerclerituel.png");
}

.droppercercle {
  width: 23px;
  height: 23px;
  display: inline-block;
  vertical-align: top;
  background-color: rgba(80, 80, 80, 0.4);
  transition: all 200ms linear;
  margin: 0;
}

.draggablecercle {
  display: inline-block;
  vertical-align: top;
  transition: all 200ms linear;
  user-select: none;
  background-color: rgba(80, 80, 80, 0.4);
  width: 23px;
  height: 23px;
  margin: 0;
}

#symb1 {
  position: absolute;
  top: 77px;
  left: 290px;
}

#symb2 {
  position: absolute;
  top: 123px;
  left: 290px;
}

#symb3 {
  position: absolute;
  top: 188px;
  left: 290px;
}

#symb4 {
  position: absolute;
  top: 334px;
  left: 78px;
}

#symb5 {
  position: absolute;
  top: 334px;
  left: 144px;
}

#symb6 {
  position: absolute;
  top: 334px;
  left: 236px;
}

#symb7 {
  position: absolute;
  top: 334px;
  left: 290px;
}

#symb8 {
  position: absolute;
  top: 334px;
  left: 343px;
}

#symb9 {
  position: absolute;
  top: 334px;
  right: 144px;
}

#symb10 {
  position: absolute;
  top: 334px;
  right: 78px;
}

#symb11 {
  position: absolute;
  bottom: 114px;
  left: 68px;
}

#symb12 {
  position: absolute;
  bottom: 99px;
  left: 290px;
}

#symb13 {
  position: absolute;
  bottom: 114px;
  right: 68px;
}

#symb14 {
  position: absolute;
  bottom: 31px;
  left: 290px;
}
