.game-container {
  margin: auto;
}

.game-layout {
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-controls {
  margin-left: 10px;
  text-align: center;
}

.haubans-tiles div {
  border: none;
}

.map-haubans {
  position: relative;
  background-image: url("/assets/img/ambria/haubans.png");
  background-repeat: no-repeat;
}

.haubans .cordage {
  background: none;
}

.loganhaubans {
  background-image: url("/assets/img/ambria/loganhaubans.png");
  background-size: 100% 100%;
  border: 1px solid black;
  transition: left 0.5s linear, top 0.5s linear;
  transform-origin: center;
  transform: scale(0.7);
  z-index: 2;
}

.goalhaubans {
  background-image: url("/assets/img/ambria/goalhaubans.png");
  background-size: 100% 100%;
  border: none;
  transition: left 0.5s linear, top 0.5s linear;
  transform-origin: center;
  transform: scale(0.7);
  z-index: 2;
}

.map-levier {
  position: relative;
  background-image: url("/assets/img/ambria/leviermap.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.levier {
  .floor {
    background: none;
    border: 1px solid black;
  }

  .wall {
    background: none;
    border: 1px solid black;
  }

  .rien {
    background: none;
    border: none;
  }
}

.goallevier {
  background: none;
  border: none;
}

.playerlevier {
  background-image: url("/assets/img/ambria/levierplayer.png");
  background-size: 100% 100%;
  background-color: transparent;
  border: none;
  transition: left 0.5s linear, top 0.5s linear;
  transform: translate(0, -40%);
  z-index: 2;
}

.levier .tiles-layer div {
  border: none;
}

.game-map {
  position: relative;
  background-image: url("/assets/img/ambria/bateau.png");
  background-repeat: no-repeat;
}

div.layer,
div.layer div {
  position: absolute;
}

.tiles-layer div {
  border: none;
}

.mutinerie-board {
  .floor {
    background: none;
  }

  .wall {
    background: none;
  }

  .sea {
    background: none;
  }
}

.mutinerie-board .player,
.mutinerie-board .goal,
.mutinerie-board .tresor,
.mutinerie-board .garde1,
.mutinerie-board .garde2 {
  transform-origin: center;
  transform: scale(0.7);
}

.mutinerie-board .goal {
  background: none;
  border: none;
}

.mutinerie-board .tresor {
  background: none;
  border: none;
}

.mutinerie-board .hide {
  opacity: 0;
}

.mutinerie-board .garde1 {
  background: none;
  border: none;
}

.mutinerie-board .garde2 {
  background: none;
  border: none;
}

.mutinerie-board .player {
  background-image: url("/assets/img/ambria/loganhaubans.png");
  background-size: 100% 100%;
  border: 1px solid black;
  transition: left 0.5s linear, top 0.5s linear;
  z-index: 2;
}

.mutinerie-tresor {
  position: absolute;
  bottom: 0;
  right: 80px;
}

.mutinerie-crack-1 {
  position: absolute;
  top: 40px;
  left: 480px;
}

.mutinerie-crack-2 {
  position: absolute;
  bottom: 0;
  right: 120px;
}

.mutinerie-crack-3 {
  position: absolute;
  top: 80px;
  right: 40px;
}

.cracking {
  background-image: url("/assets/img/ambria/crack.png");
  z-index: 1;
}

