.ambria-porte {
  max-width: 800px;
  background: none;
  position: relative;
  margin: auto;
  margin-bottom: 20px;

  img {
    width: 100%;
  }
}

.emplacementboule1,
.emplacementboule2,
.emplacementboule3 {
  width: 100% !important;
  max-width: 100px !important;
  position: absolute;
}

.emplacementboule1 {
  top: 86.5%;
  left: 18.5%;
}

.emplacementboule2 {
  top: 86.5%;
  left: 43.5%;
}

.emplacementboule3 {
  top: 86.5%;
  left: 68.5%;
}

.porte-dragger-slot {
  display: inline-block;
  vertical-align: middle;
  transition: all 200ms linear;
  user-select: none;
  background: rgba(100, 100, 100, 0.4);
  width: 150px;
  height: 150px;
  margin: 0;
}

.porte-dragger-slot img,
.dropperporte img {
  width: 100%;
}

.dropperporte {
  width: 15.7%;
  height: 16.5%;
}

.dropporte-1 {
  position: absolute;
  top: 33%;
  left: 20.2%;
}

.dropporte-2 {
  position: absolute;
  top: 10.5%;
  left: 42.2%;
}

.dropporte-3 {
  position: absolute;
  top: 33%;
  left: 63.9%;
}

.dropporte-4 {
  position: absolute;
  top: 76.4%;
  left: 20.2%;
}

.dropporte-5 {
  position: absolute;
  top: 54%;
  left: 42.2%;
}

.dropporte-6 {
  position: absolute;
  top: 76.4%;
  left: 63.9%;
}
