.boutonhaut {
  background-image: url("/assets/img/ambria/cap/boutoncaphaut.png") !important;
  width: 17px;
  height: 19px;
}

.boutonbas {
  background-image: url("/assets/img/ambria/cap/boutoncapbas.png") !important;
  width: 17px;
  height: 19px;
}

.boutonhauton {
  background-image: url("/assets/img/ambria/cap/boutoncaphauton.png") !important;
  width: 17px;
  height: 19px;
}

.boutonbason {
  background-image: url("/assets/img/ambria/cap/boutoncapbason.png") !important;
  width: 17px;
  height: 19px;
}

.cap-button {
  position: absolute;
  width: 17px;
  height: 19px;
}

.cap-button-1-haut {
  top: 33px;
  left: 19px;
}

.cap-button-2-haut {
  top: 33px;
  left: 77px;
}

.cap-button-3-haut {
  top: 33px;
  left: 135px;
}

.cap-button-4-haut {
  top: 33px;
  right: 19px;
}

.cap-button-1-bas {
  bottom: 31px;
  left: 19px;
}

.cap-button-2-bas {
  bottom: 31px;
  left: 77px;
}

.cap-button-3-bas {
  bottom: 31px;
  left: 135px;
}

.cap-button-4-bas {
  bottom: 31px;
  right: 19px;
}

.cap-coordinate {
  position: absolute;
  top: 60px;
  width: 47px;
  height: 89px;
}

.cap-coordinate-1 {
  left: 4px;
}

.cap-coordinate-2 {
  left: 62px;
}

.cap-coordinate-3 {
  left: 120px;
}

.cap-coordinate-4 {
  right: 4px;
}
