.grotte1[type="submit"],
.grotte1 button[type="submit"] {
  cursor: url(/assets/img/ambria/grottenw.png), auto;
}

.grotte2[type="submit"],
.grotte3[type="submit"],
.grotte4[type="submit"],
.grotte2 button[type="submit"],
.grotte3 button[type="submit"],
.grotte4 button[type="submit"] {
  cursor: url(/assets/img/ambria/grotten.png), auto;
}

.grotte5[type="submit"],
.grotte6[type="submit"],
.grotte5 button[type="submit"],
.grotte6 button[type="submit"] {
  cursor: url(/assets/img/ambria/grottene.png), auto;
}
