#dragdropcoffret {
  width: 80%;
  position: relative;
  margin: auto;
  display: flex;
  justify-content: space-evenly;

  img {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
  }
}

.dropper {
  width: 15.8%;
  height: 37.5%;
  display: inline-block;
  vertical-align: top;
  background-color: rgba(40, 40, 40, 0.4);
  border-radius: 75px;
  transition: all 200ms linear;
}

.drop_hover {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.8) inset;
}

.dragslot {
  width: 18%;
  aspect-ratio: 1 / 1;
  background-color: rgba(40, 40, 40, 0.4);
  border-radius: 50%;
  transition: all 200ms linear;
  user-select: none;
}

.drag_hover {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.8) inset;
}

#drop1 {
  position: absolute;
  top: 50%;
  left: 2.1%;
}

#drop2 {
  position: absolute;
  top: 50%;
  left: 22.1%;
}

#drop3 {
  position: absolute;
  top: 50%;
  left: 42.1%;
}

#drop4 {
  position: absolute;
  top: 50%;
  left: 62.1%;
}

#drop5 {
  position: absolute;
  top: 50%;
  left: 82.1%;
}
