#barre1 {
  position: absolute;
  left: 2.13%;
  top: 71.43%;
  width: 20.24%;
  height: 21.84%;
  background: url('/escaperpg/images/ambria/barre1.png');

  &:hover {
    background: url('/escaperpg/images/ambria/barre1hover.png');
  }
}

#barre2 {
  position: absolute;
  left: 21.02%;
  top: 43.33%;
  width: 14.41%;
  height: 30.34%;
  background: url('/escaperpg/images/ambria/barre2.png');

  &:hover {
    background: url('/escaperpg/images/ambria/barre2hover.png');
  }
}

#barre3 {
  position: absolute;
  left: 47.64%;
  top: 34.24%;
  width: 4.72%;
  height: 30.93%;
  background: url('/escaperpg/images/ambria/barre3.png');

  &:hover {
    background: url('/escaperpg/images/ambria/barre3hover.png');
  }
}

#barre4 {
  position: absolute;
  left: 64.49%;
  top: 43.33%;
  width: 14.41%;
  height: 30.34%;
  background: url('/escaperpg/images/ambria/barre4.png');

  &:hover {
    background: url('/escaperpg/images/ambria/barre4hover.png');
  }
}

#barre5 {
  position: absolute;
  left: 77.56%;
  top: 71.43%;
  width: 20.24%;
  height: 21.84%;
  background: url('/escaperpg/images/ambria/barre5.png');

  &:hover {
    background: url('/escaperpg/images/ambria/barre5hover.png');
  }
}
