html
{
	scroll-behavior: smooth;
	height: 100%;
}

body
{
	background: #2A5689 url("/escaperpg/images/bg.png");
	background-repeat: repeat;
	font-family: arial, "arial black", "comic sans ms", "courier new", georgia, impact, "times new roman", "trebuchet ms", verdana, serif;
	height: 100%;
	padding: 0;
}

#page-container
{
	min-height: 100%;
	position: relative;
}
	
header
{
	width: 100%;
	text-align: center;
	margin: 0;
	padding: 10px 0px;
	background-color: rgb(255,255,255);
	box-shadow: 0px 3px 10px black;
}

#banniere
{
	width: 100%
}

#banniere img
{
	width: 100%;
}

#load
{
	width: 70%;
	height: 200px;
	vertical-align: top;
	display: inline-block;
}

#loader
{
	position: relative;
	left: 50%;
	top: 50%;
	z-index: 1;
	width: 150px;
	height: 150px;
	margin: -75px 0 0 -75px;
	border: 5px solid #f3f3f3;
	border-radius: 50%;
	border-top: 5px solid black;
	width: 20px;
	height: 20px;
	-webkit-animation: spin 1s linear infinite;
	animation: spin 1s linear infinite;
}

@-webkit-keyframes spin
{
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin
{
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#bloc_page
{
	width: 100%;
	padding: 10px 0 300px 0;
	text-align: center;
	display: none;
}

#connexioncompte
{
	position: fixed;
	top: 50px;
	right: 0;
	padding: 10px;
	overflow: hidden;
	background-color: rgba(0,0,0,0.2);
	border: 7px double black;
	border-right: none;
	border-radius: 20px 0px 0px 20px;
	text-align: center;
	font-size: x-small;
}

#connexioncompte img
{
	width: 50px;
	height: 50px;
	border-radius: 50%;
}

#connexioncompte:hover
{
	border: 7px double orange;
	border-right: none;
	border-radius: 20px 0px 0px 20px;
}

#succespopup
{
	width: 150px;
	position: fixed;
	top: 180px;
	right: -230px;
	background-color: rgba(0,0,0,0.2);
	border: 7px double black;
	color: orange;
	border-right: none;
	border-radius: 20px 0px 0px 20px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	z-index: 20;
}

#succespopup p
{
	text-align: center !important;
}

#succespopup a
{
	color: red;
	display: flex;
	align-items: center;
	justify-content: center;
}

#succespopup a:hover
{
	color: orange;
}

.succesapercu
{
	display: inline-block;
	color: orange;
	border-radius: 50%;
	width: 50px;
	height: 65px;
	margin: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.succesapercu span
{
	position: absolute;
	top: 40px;
	right: 0;
	background-color: black;
	color: orange;
	border-radius: 10px;
	opacity: 0;
	font-weight: normal;
	font-size: 12px;
	width: 200px;
	padding: 20px;
	text-align: justify;
	pointer-events: none;
	z-index: 3;
}

.succesapercu:hover span
{
	opacity: 1;
}

.succesapercu .succesplatine:before
{
	width: 80px;
	height: 80px;
}

.succesapercu div
{
	width: 50px;
	height: 65px;
	border-radius: 50%;
}

.succesapercu img
{
	width: 80%;
	height: 84.6%;
	border-radius: 50%;
	z-index: 2;
}

.succesnormal
{
	width: 100%;
	height: 100%;
	position: absolute;
	overflow: hidden;
	z-index: auto;
	border-radius: 50%;
	background: linear-gradient(315deg, #151515, 10%, #404040, 90%, #606060);
	&::after
	{
		content: '';
		position: absolute;
		z-index: auto;
		left: 3px;
		top: 3px;
		width: calc(100% - 6px);
		height: calc(100% - 6px);
		border-radius: 50%;
		background: linear-gradient(135deg, #151515, 10%, #404040, 90%, #606060);
	}
}

.succesbronze
{
	--couleurshine: #dd8546;
	background: linear-gradient(315deg, #1e110c, 10%, #974c20, 90%, #dd8546);
	&::after
	{
		background: linear-gradient(135deg, #1e110c, 10%, #974c20, 90%, #dd8546);
	}
}

.succesargent
{
	--couleurshine: white;
	background: linear-gradient(315deg, grey, 10%, #BEBEBE, 90%, #DCDCDC);
	&::after
	{
		background: linear-gradient(135deg, grey, 10%, #BEBEBE, 90%, #DCDCDC);
	}
}

.succesgold
{
	--couleurshine: white;
	background: linear-gradient(315deg, #671908, 10%, orange, 90%, #fdf4c2);
	&::after
	{
		background: linear-gradient(135deg, #671908, 10%, orange, 90%, #fdf4c2);
	}
}

.succesdiamant
{
	--couleurshine: white;
	background: linear-gradient(315deg, #0089ab, 10%, #71cee6, 90%, #dcf1f7);
	box-shadow: 0 0 20px #71cee6;
	animation: glow 1s alternate infinite;
	--couleur: #71cee6;
	&::after
	{
		background: linear-gradient(135deg, #0089ab, 10%, #71cee6, 90%, #dcf1f7);
	}
}

.succesplatine
{
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: -2;
	border-radius: 50%;
	background-color: #ffffe6;
	box-shadow: 0 0 10px #ffffe6;
	--couleur: white;
	animation: glow 1s alternate infinite;
	&::before
	{
		content: '';
		z-index: -4;
		text-align: center;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%) rotate(0deg);
		position: absolute;
		width: 130%;
		height: 130%;
		background-repeat: no-repeat;
		background-position: 0 0;
		background-image: conic-gradient(rgba(255,255,230,0.5) 0deg 30deg, transparent 30deg 60deg, rgba(255,255,230,0.5) 60deg 90deg, transparent 90deg 120deg, rgba(255,255,230,0.5) 120deg 150deg, transparent 150deg 180deg,
			rgba(255,255,230,0.5) 180deg 210deg, transparent 210deg 240deg, rgba(255,255,230,0.5) 240deg 270deg, transparent 270deg 300deg, rgba(255,255,230,0.5) 300deg 330deg, transparent 330deg 360deg);
		animation: succesrotate 6s linear infinite;
		border-radius: 100%;
		filter: blur(10px);
	}
}

@keyframes glow
{
	0% { box-shadow: 0 0 10px var(--couleur); } 100% { box-shadow: 0 0 20px var(--couleur); }
}

.succesbronze, .succesargent, .succesgold, .succesdiamant
{
	width: 100%;
	height: 100%;
	position: absolute;
	overflow: hidden;
	z-index: 0;
	border-radius: 50%;
	&::before
	{
		content: '';
		z-index: -2;
		text-align: center;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%) rotate(0deg);
		position: absolute;
		width: 150%;
		height: 150%;
		background-repeat: no-repeat;
		background-position: 0 0;
		background-image: conic-gradient(rgba(0,0,0,0), rgb(255,248,220), rgba(0,0,0,0) 15%);
		animation: succesrotate 5s linear infinite;
		filter: blur(10px);
	}
	&::after
	{
		content: '';
		position: absolute;
		z-index: -1;
		left: 3px;
		top: 3px;
		width: calc(100% - 6px);
		height: calc(100% - 6px);
		border-radius: 50%;
	}
}

@keyframes succesrotate
{
	100% { transform: translate(-50%, -50%) rotate(1turn); }
}

nav
{
	width: 20%;
	display: inline-block;
	vertical-align: top;
	background-color: rgba(0,0,0,0.6);
	border-radius: 20px 0px 10px 20px;
	color : white;
	text-align: center;
	padding: 10px;
}

nav img
{
	width: 60%;
}

nav a
{
	color: orange;
	font-weight: normal;
}

nav a:hover
{
	color: brown;
}

nav li
{
	text-align: justify;
}

h1
{
	color: orange;
	text-transform: uppercase;
	font-size: small;
}

a
{
	color: red;
	font-weight: bold;
	text-decoration: none;
}

a:hover
{
	color: orange;
}

.mdp
{
	font-weight: bold;
	text-shadow: grey 1px 1px;
}
	
.info
{
	color: orange;
}
	
.lieu
{
	color: lightgreen;
	font-weight: bold;
}
	
.important
{
	color: darkred;
	font-weight: bold;
}
	
.indice
{
	color: dodgerblue;
	text-align: center;
	font-weight: bold;
}
	
.reponse
{
	color: red;
	text-align: center;
	font-weight: bold;
}

.boutonindice
{
	background: url("/escaperpg/images/indice.png");
	border: none;
	width: 30px;
	height: 30px;
	cursor: help;
	margin: 20px;
}

.boutonreponse
{
	background: url("/escaperpg/images/reponse.png");
	border: none;
	width: 30px;
	height: 30px;
	cursor: help;
	margin: 20px;
}

#inventaire
{
	text-align: center;
	display: inline-block;
	vertical-align: middle;
}

#inventaire img
{
	width: 150px;
}

#txt
{
	width: 70%;
	background-color: rgba(0,0,0,0.6);
	vertical-align: top;
	padding: 10px;
	text-align: justify;
	border-radius: 0px 20px 20px 20px;
	color: white;
	word-wrap: break-word;
	display: inline-block;
}

.dialoguenarrateur
{
	text-align: center;
	margin: 10px 0px;
}

.portrait
{
	width: 20%;
	display: inline-block;
	vertical-align: top;
}

.portrait img
{
	width: 100%;
}

.bulleperso
{
	background: rgba(255,255,255,0.8);
	display: inline-block;
	vertical-align: top;
	width: 60%;
	min-height: 70px;
	margin-left: 30px;
	position: relative;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	padding: 14px 30px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.bulleperso:before
{
	content: "";
	position: absolute;
	right: 100%;
	top: 50px;
	width: 0;
	height: 0;
	border-top: 13px solid transparent;
	border-right: 20px solid rgba(255,255,255,0.8);
	border-bottom: 13px solid transparent;
}

.bulleperso p
{
	text-align: justify;
	color: black;
}

#discussion
{
	width: 70%;
	margin: auto;
}

.dialogue
{
	text-align: center;
	width: 60%;
	display: inline-block;
	vertical-align: bottom;
	margin: 0px;
}

#nomdialogue
{
	background-color: rgb(15,84,25);
	margin-bottom: 10px;
	margin-left: 0;
	width: 10%;
	display: inline-block;
	vertical-align: bottom;
	padding: 10px;
	text-align: center;
	color: white;
	border-radius: 20px;
}

#bulle
{
	background: rgba(100,100,100,0.6);
	margin-bottom: 10px;
	margin-left: 20px;
	position: relative;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 0px 20px 20px 20px;
	padding: 5px 10px;
}

#bulle:before
{
	content: "";
	position: absolute;
	right: 100%;
	top: 0px;
	width: 0;
	height: 0;
	border-right: 20px solid rgba(100,100,100,0.6);
	border-bottom: 13px solid transparent;
}

#bulle p
{
	text-align: justify;
	color: white;
}

#reponse
{
	background: rgba(23,103,196,0.6);
	margin-left: 60%;
	margin-bottom: 10px;
	position: relative;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 20px;
	padding: 5px 10px;
}

#reponse p
{
	text-align: justify;
	color: white;
}

#enigme
{
	text-align: center;
	margin-bottom: 20px;
}

#enigme img
{
	display: inline-block;
	vertical-align: middle;
	max-width: 400px;
}

#enigme a
{
	cursor: zoom-in;
}

#enigmelieu
{
	width: 60%;
	background-color: none;
	position: relative;
	margin: auto;
	margin-bottom: 20px;
}

#appareil
{
	position: absolute;
	top: 20.75%;
	right: 13.5%;
	width: 4.67%;
	height: 5.75%;
}

#tiroir
{
	position: absolute;
	top: 45.5%;
	left: 43.33%;
	width: 10%;
	height: 8.5%;
}

#ordi
{
	position: absolute;
	top: 22%;
	left: 5.5%;
	width: 15%;
	height: 16%;
}

#phone
{
	position: absolute;
	bottom: 18%;
	left: 7.67%;
	width: 5.83%;
	height: 6.25%;
}

#sms
{
	position: absolute;
	bottom: 14.5%;
	left: 40.5%;
	width: 5.67%;
	height: 8%;
}

#enigmelieu a
{
	cursor: default;
}

#enigmelieu img
{
	width: 100%;
}

#couverture
{
	width: 95%;
	text-align: center;
	font-size: x-large;
	margin: auto;
	color: black;
	background-image: url("/escaperpg/images/lastparty/juliettefond.png");
	background-size: 100% 100%;
}

#couverture img
{
	width: 60%;
}

#couverture p
{
	width: 100%;
	padding: 5px;
	margin: 0;
}

#faceeebookconnexion
{
	background-color: #c1d4e5;
	position: relative;
	width: 80%;
	margin: auto;
	text-align: center;
	margin-bottom: 20px;
	padding: 50px;
}

#faceeebookconnexion h1
{
	color: rgb(23,103,196);
	font-size: x-large;
}

#faceeebookconnexion img
{
	max-width: 60px;
}

#connexion
{
	width: 60%;
	background-color: white;
	box-shadow: 0px 1px 5px rgba(0,0,0,0.5);
	border-radius: 20px;
	margin: auto;
	padding: 100px 50px;
	margin-bottom: 50px;
	color: black;
}

#connexion input[type=text], input[type=password]
{
	width: 50%;
}

#connexion input[type=submit]
{
	background-image: none;
	background-color: rgb(23,103,196);
	color: white;
}

#faceeebookconnexion p
{
	color: #70ade3;
}

#faceeebookheader
{
	background-color: #edf2f7;
	margin-top: 0;
	box-shadow: 0px 1px 5px rgba(0,0,0,0.5);
	width: 100%;
	text-align: center;
	color: black;
}

#faceeebookheader ul
{
	margin: 0;
	padding: 0;
}

#faceeebookheader li
{
	padding: 0;
}

#faceeebookheader img
{
	max-width: 30px;
	display: inline-block;
	vertical-align: middle;
}

.topleft
{
	display: inline-block;
	vertical-align: bottom;
	min-width: 30%;
	padding: 10px 0px;
}

#faceeebook
{
	background-color: #c1d4e5;
	width: 80%;
	margin: auto;
	margin-bottom: 20px;
	padding: 0px 0px 50px 0px;
	overflow: auto;
	height: 500px;
	position: relative;
}

#faceeebook form
{
	display: inline-block;
	vertical-align: middle;
	margin: 0;
}

input[type=search]
{
	border-radius: 20px;
	border: none;
	background-color: #c1d4e5;
	padding: 5px;
}

.logoscentre
{
	display: inline-block;
	vertical-align: bottom;
	min-width: 20%;
	margin: 10px 7% 0px 7%;
}

.logoscentre img
{
	display: inline-block;
	vertical-align: middle;
	margin: 0px 3%;
}

.topright
{
	display: inline-block;
	vertical-align: bottom;
	min-width: 30%;
	padding: 10px 0px;
}

#actus
{
	width: 60%;
	background-color: white;
	box-shadow: 0px 1px 5px rgba(0,0,0,0.5);
	border-radius: 20px;
	margin: auto;
	padding: 10px;
	margin-bottom: 50px;
	color: black;
	margin-top: 20px;
	margin-bottom: 20px;
}

#actus p
{
	text-align: justify;
	font-size: large;
	padding: 10px 0px;
	margin: 3px 10px;
}

#name
{
	display: inline-block;
	vertical-align: top;
	font-size: small;
	font-weight: bold;
}

.light
{
	color: rgba(0,0,0,0.5);
}

#actus img
{
	max-width: 30px;
	display: inline-block;
	vertical-align: top;
}

#quoineuf
{
	width: 80%;
	background-color: #c1d4e5;
	border-radius: 20px;
	border: none;
	display: inline-block;
	vertical-align: top;
	padding: 10px;
	color: rgba(0,0,0,0.5);
}

#likes p
{
	color: #70ade3;
	display: inline-block;
	vertical-align: middle;
	font-size: small;
	padding: 0;
}

#likes img
{
	width: 20px;
	display: inline-block;
	vertical-align: middle;
}

#comment
{
	margin: auto;
}

#comment img
{
	max-width: 30px;
	display: inline-block;
	vertical-align: middle;
}

#commentaire
{
	width: 80%;
	background-color: #c1d4e5;
	border-radius: 20px;
	border: none;
	display: inline-block;
	vertical-align: top;
	padding: 10px;
	color: black;
	font-size: small;
	margin-bottom: 10px;
}

#chgt
{
	width: 10%;
	background-color: rgba(0,0,0,0.2);
	box-shadow: 0px 1px 5px rgba(0,0,0,0.5);
	border-radius: 40px;
	margin: auto;
	padding: 0px;
	margin-bottom: 50px;
	font-size: x-large;
	font-weight: bold;
	color: rgba(0,0,0,0.5);
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
}

#discussions
{
	float: right;
	margin: -30px 20px 20px auto;
	background-color: rgba(0,0,0,0.2);
	box-shadow: 0px 1px 5px rgba(0,0,0,0.5);
	border-radius: 20px;
	border: none;
	padding: 2px 10px;
	color: rgba(0,0,0,0.5);
}

button
{
	background: none;
	border: none;
	cursor: default;
	padding: 0;
}

button img
{
	width: 100%;
	height: 100%;
	margin: 0;
}

input[type=submit]
{
	width: 100%;
	max-width: 300px;
	padding: 10px;
	background-color: white;
	border: 2px solid black;
	border-radius: 10px;
	cursor: pointer;
	text-transform: uppercase;
}

input[type=submit]:hover
{
	background-color: rgb(220,120,0);
}

.current input[type=submit]
{
	background-color: orange;
}

.current input[type=submit]:hover
{
	background-color: rgb(220,120,0);
}

#top
{
	position: fixed;
	right: 20px;
	bottom: 70px;
}

footer
{
	width: 100%;
	color: white;
	text-align: center;
	padding: 0;
	clear: both;
	font-size: small;
	bottom: 0;
	position: fixed;
	background: linear-gradient(to top, rgba(0,0,0,0.3) 80%, transparent);
}

#inventairefooter
{
	width: 100%;
	margin: auto;
	cursor: pointer;
}

#motsdepasse
{
	width: 100%;
	margin: auto;
	cursor: pointer;
}

.footerhidden
{
	display: none;
}

.footeraffichage
{
	display: block;
	width: 100%;
	padding: 10px 0px;
}