.discussion {
    width: 70%;
    margin: auto;
    text-align: justify;
}

.nomdialogue {
    background-color: rgb(15, 84, 25);
    margin: 0;
    width: 10%;
    display: inline-block;
    vertical-align: top;
    padding: 10px;
    text-align: center;
    color: white;
    border-radius: 20px;
}

.dialogue {
    text-align: center;
    width: 70%;
    display: inline-block;
    vertical-align: top;
    margin: 0;
}

.bulle {
    background: rgba(100, 100, 100, 0.6);
    margin-bottom: 10px;
    margin-left: 20px;
    position: relative;
    border-radius: 0px 20px 20px 20px;
    padding: 5px 10px;

    &::before {
        content: "";
        position: absolute;
        right: 100%;
        top: 0px;
        width: 0;
        height: 0;
        border-right: 20px solid rgba(100, 100, 100, 0.6);
        border-bottom: 13px solid transparent;
    }

    p {
        text-align: justify;
    }
}

.reponseTelephone {
    margin-left: auto;
    display: block;
    width: fit-content;
    max-width: 70%;
    background: rgba(23, 103, 196, 0.6);
    margin-bottom: 10px;
    border-radius: 20px;
    padding: 5px 20px;
}
