body {
	background: #2A5689 url("/assets/img/bg.png") repeat;
}

h1 {
	color: orange;
	text-transform: uppercase;
	font-size: small;
}

a {
	color: red;
	font-weight: bold;
	text-decoration: none;

	&:hover {
		color: orange;
	}
}

.portrait {
	width: 20%;

	img {
		width: 100%;
	}
}

