#cards-container {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;

    img {
        width: 100%;
    }
}

.carte-jeu {
    position: relative;

    div {
        position: absolute;
        top: 0;
    }
}

.rotate {
    animation: turn 1s forwards;
}

.hidden {
    visibility: hidden;
}

@keyframes turn {
    0% {
        transform: rotateY(180deg);
    }

    100% {
        transform: rotateY(0deg);
    }
}

.turn-card {
	display: block;
	background-color: rgba(0, 0, 0, 0.7);
	border-radius: 20px;
	padding: 15px;
	margin: 10px auto;
	color: red;
	font-weight: bold;
	width: fit-content;
}
