html {
	scroll-behavior: smooth;
}

body {
	background: #c88447 url("/escaperpg/images/bg.png");
	background-repeat: repeat;
	font-family: arial, "arial black", "comic sans ms", "courier new", georgia, impact, "times new roman", "trebuchet ms", verdana, serif;
	padding: 0px;
	margin-bottom: 100px;
}

header {
	width: 100%;
	text-align: center;
	margin: 0;
	padding: 10px 0px;
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 3px 10px black;
}

#banniere {
	width: 100%
}

#banniere img {
	width: 100%;
}

main {
	width: 100%;
	padding: 10px 0 300px 0;
	text-align: center;
	display: none;
}

nav {
	width: 20%;
	display: inline-block;
	vertical-align: top;
	background-color: rgba(0, 0, 0, 0.6);
	border-radius: 20px 0px 10px 20px;
	color: white;
	text-align: center;
	padding: 10px;

	img {
		width: 60%;
	}
}

a {
	color: red;
	font-weight: bold;
	text-decoration: none;

	&:hover {
		color: orange;
	}
}

#txt {
	width: 70%;
	background-color: rgba(0, 0, 0, 0.6);
	display: inline-block;
	vertical-align: top;
	padding: 10px;
	text-align: center;
	border-radius: 0px 20px 20px 20px;
	color: white;
	word-wrap: break-word;

	p {
		text-align: justify;
	}
}

#enigme {
	text-align: center;
	margin-bottom: 20px;
	width: 80%;

	img {
		display: inline-block;
		vertical-align: middle;
		max-width: 200px;
	}

	a {
		cursor: zoom-in;
	}
}

#enigmelieu {
	width: 80%;
	position: relative;
	margin: auto;
	margin-bottom: 20px;

	a {
		cursor: default;
	}

	img {
		width: 100%;
	}
}

#machine {
	position: absolute;
	top: 30.5%;
	right: 33.93%;
	width: 14.13%;
	height: 18.4%;
}

#piecedemachine1 {
	position: absolute;
	bottom: 36.65%;
	left: 19.27%;
	width: 4.27%;
	height: 9.1%;
}

#piecedemachine2 {
	position: absolute;
	bottom: 23%;
	right: 24.26%;
	width: 6%;
	height: 4.6%;
}

#carteciel {
	position: absolute;
	top: 48.1%;
	right: 24.73%;
	width: 4.53%;
	height: 2.6%;
}

#machineenigme {
	width: 90%;
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	margin: auto;

	img {
		width: 100%;
		display: block;
	}
}

.spin0 {
	transition: 0.5s;
}


.myCanvas {
	overflow: hidden;
	width: 80%;
	padding-bottom: 60%;
}

#drop1 {
	position: absolute;
	top: 9.75%;
	left: 9.33%;
}

#drop2 {
	position: absolute;
	top: 9.75%;
	left: 31.67%;
}

#drop3 {
	position: absolute;
	top: 9.75%;
	left: 54%;
}

#drop4 {
	position: absolute;
	top: 9.75%;
	left: 76.33%;
}
